.townsDetails {
  position: absolute;
  overflow: hidden;
  width: 305px;
  margin-top: 20%;
  margin-bottom: 12%;
  margin-left: 60px;

  padding-bottom: 15%;
  border: 1px solid red;
}

.townsDetails-2 {
  width: 285px;
  padding-left: 12px;
}