.townsList {
  display: inline-block;
  position: fixed;
  overflow: hidden;
  width: 65px;
  height: 660px;

  margin-top: 81px;
  margin-left: -8px;
  border: solid 1px rgb(13, 100, 20);
}

.adm-side-bar-items {
  width: 65px;
  padding-top: 2px;
}