.townsDetails {
  display: flex;
  width: 306px;
  height: 100%;
  background-color: gray;
}
.townsDetails-2{
  flex: 1;
  overflow: auto;
  padding: 6px 0 6px 0;
  border: solid 1px;
}

.cardDiv{
  width: 270px;
  height: 60px;
}


/* .townsDetails-2 h3 {
  padding: 10px 15px 10px 15px;
} */