.line{
  padding-top: 20px;
  width: 370px;
  height: 240px;
  border: solid 1px red;
}

.pie{
  width: 370px;
  height: 240px;
  border: solid 1px red;
}

.lineAndPie{
  margin: 0 auto;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}