/* 全局样式 很重要 */
* {
  margin: 0;
  padding: 0;

  /* 去边界 */
  /* border: 0px !important; */
}

/* 关键 */
html,
body {
  height: 100%;
}

/* 关键 */
body {
  display: flex;
  flex-direction: column;
}

/* 关键 */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
